html {
    margin: 10px;
}

.team-heading {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 17%, rgba(0, 212, 255, 1) 82%);
    color: white;
}

.team-container {
    max-width: 1280px;
    margin: 0 auto;
}

.team-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 1em;
}

.employee-card {
    max-width: 400px;
    margin: 20px auto;
}

@media (min-width:960px) {
    .team-row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}